<!DOCTYPE HTML>
<html>
    <head>
        <title>Do You Have Cancer?</title>
        <meta charset="UTF-8">
        <style>
        .death {
            color: #FB62FF;
        }
        </style>
        <style>
        .severe {
            color: #FF0000;
        }
        </style>
        <style>
        .mid {
            color: #FFA500;
        }
        </style>
        <style>
        .mild {
            color: #F6FF00;
        }
        </style>
    </head>
    <body>

        <center><h1>Do You Have Cancer?</h1></center>
        <hr>
        <br>

        <center>
        {% block body %}
        {% endblock %}
        </center>

    </body>
</html>
